.about-bg {
    background-color: #FFECA6;
}

.about-container {
    display: grid;
    width: 80%;
    padding-top: 5%;
    padding-bottom: 6%;
    margin-left: 9%;
    align-items: center;
    grid-template-columns: 0.9fr;
    grid-template-rows: 0.2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.who { 
    grid-area: 1 / 1 / 2 / 2;
    padding-bottom: 25px;
}

.about-para p { 
    grid-area: 2 / 1 / 3 / 2; 
    font-size: larger;
}

#heading {
    font-weight: bolder;
    letter-spacing: -0.7px;
}

.about-images {
    display: grid;
    padding-bottom: 6%;
    padding-left: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.7fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.about-images img {
    width: 85%;
}
    
.a-img1 {
    grid-area: 1 / 1 / 2 / 2; 
}

.a-img2 { 
    grid-area: 1 / 2 / 2 / 3; 
}

.a-img1 { 
    grid-area: 1 / 3 / 2 / 4; 
}