/* Global Attributes */

/* Standardised font and margining across all pages */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */

.navbar {
  box-sizing: border-box;
  background: #FFFFFF;
  border-top: 1px solid #83958C;
  border-bottom: 1px solid #83958C;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
}

.nav-logo {
  position: absolute;
  display: block;
  margin: auto;
  overflow: hidden;
  left: 42%;
}

.login-btn {
  right: 0%;
  background: #B39836;
  border-radius: 6px;
  font-weight: bold;
  border-color: transparent;
  color: #FFFFFF;
  padding: 2px 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.li {
  float: left;
}

li a {
  display: block;
  color:#B39836;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  color:#5e4b05;
}

.li-right {
  float: right;
  margin-top: 10px;

}

.footer {
  background-color: #DADDDC;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer img {
  height: 160px;
  width: auto;
  margin: 40px 40px;
  margin-left: 50px;
}

.footer-content {
  display: flex;
  width: 100%;
  height: 30vh;
}

.footer-content #foot-content-box {
  width: 100%;
  display: inherit;
}

.footer .footer-content .footer-links a {
  color: #B39836;
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
  padding: 8px;
  margin-right: 90px;
  margin-top: 40px;
  height: 35px;
}

.footer .footer-content .footer-links .login-foot {
  padding: 8px;
  right: 0%;
  background: #B39836;
  border-radius: 6px;
  font-weight: bold;
  border-color: transparent;
  color: #FFFFFF;
  padding: 2px 15px;
  margin-right: 0px;
  margin-top: 40px;
  height: 40px;

}

.footer .footer-content .footer-links :hover {
  color: #5e4b05;
  font-size: medium;
  transition: 0.2s;
} 

hr {
  color:#6B756B;
  width: 80%;
  margin: auto;
}

.footer-bottom {
  padding: 0 50px;
}

.social {
  display:flex;
  color: black;
  margin-left: -20px;
}

.social div a i {
  padding-left: 40px;
  color: black;
}

