/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,600italic,700,500,600,400italic"); */

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* 
* {
  box-sizing: border-box;
}

.navbar-link-about-us {
  height: 18px;
  letter-spacing: -0.23px;
  line-height: normal;
  margin-bottom: 2.0px;
  margin-left: 55px;
  min-width: 70px;
  text-align: center;
}

.navbar-link-contact-us {
  height: 18px;
  letter-spacing: -0.23px;
  line-height: normal;
  margin-bottom: 2.0px;
  margin-left: 55px;
  min-width: 83px;
  text-align: center;
}

.navbar-link-basket {
  margin-left: 55px;
  min-width: 53px;
}

.log-in {
  height: 18px;
  letter-spacing: -0.23px;
  line-height: normal;
  min-width: 48px;
  text-align: center;
}

.footer-a {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  flex-direction: column;
  height: 489px;
  padding: 80px;
  width: 1920px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  min-width: 1720px;
}

.logo-no-bg-01-3 {
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.t-us {
  letter-spacing: -0.23px;
  line-height: 24px;
  margin-left: 50px;
  margin-top: 39px;
  white-space: nowrap;
  width: 173px;
}

.flex-row-2 {
  align-items: center;
  display: flex;
  margin-top: 32px;
  min-width: 1750px;
}

.copyright {
  letter-spacing: -0.23px;
  line-height: 24px;
  margin-bottom: 2.0px;
  white-space: nowrap;
  width: 301px;
}

.follow-us {
  letter-spacing: -0.23px;
  line-height: 24px;
  margin-bottom: 2.0px;
  margin-left: 812px;
  text-align: right;
  white-space: nowrap;
  width: 300px;
}

.ellipse-1 {
  margin-left: 70px;
}

.ellipse-2 {
  margin-left: 31px;
}

.ellipse {
  margin-left: 30px;
}

.ellipse-3 {
  height: 44px;
  width: 44px;
}

.flex {
  align-items: flex-start;
  display: flex;
}

.navbar-link {
  height: 18px;
  letter-spacing: -0.23px;
  line-height: normal;
  margin-bottom: 2.0px;
  text-align: center;
} */