.orders-contain {
    padding: 1.5% 2%;
}

.orders-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 55%;
    height: 35%;
    margin-left: 22%;
    padding: 1%;
    border: 1px solid #DADDDC;
    box-shadow: 1px 2px 5px #B39836;
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    align-items: center;
}

.orders-card:hover {
border: 1px solid #B39836;
}

.orders-card:active {
transform: scale(0.98);
}

.order-no { 
grid-area: 1 / 1 / 2 / 2; 
font-weight: 600;
}

.order-status { 
grid-area: 2 / 1 / 3 / 2; 
font-weight: 400;
color: grey;
}

.order-dt { 
grid-area: 1 / 2 / 2 / 3; 
font-weight: 400;
color: grey;
}

.order-total { 
grid-area: 2 / 2 / 3 / 3; 
font-weight: 400;
color: grey;
}

.view-order { 
grid-area: 1 / 3 / 3 / 4; 
}

.carousel-control-next-icon {
    filter: invert(62%);
    background-color: transparent;
    border-color: transparent;
    margin-bottom: -3%;
    margin-left: 60%;
}

h3 {
    text-align: center;
    padding-top: 20px;
}