#od-heading h1 {
    text-align: center;
    padding-top: 3%;
    font-weight: bold;
}

.container-fluid {
    margin-top: 200px ;
}

p {
    font-size: 14px;
    margin-bottom: 7px;
}

.small {
    letter-spacing: 0.5px !important;
}

.card-1 {
    box-shadow: 2px 2px 10px 0px #B39836;
}

hr {
    background-color: rgba(248, 248, 248, 0.667);
}


.bold {
    font-weight: 500;
}

.change-color {
    color: #B39836 !important;
}

.card-2 {
    box-shadow: 1px 1px 3px 0px rgb(112, 115, 139);
}

.fa-circle.active {
    font-size: 8px;
    color: #B39836;
}

.fa-circle {
    font-size: 8px;
    color: #aaa;
}

.rounded {
    border-radius: 2.25rem !important;
}


.progress-bar {
    background-color: #B39836 !important;
}


.progress {
    height: 5px !important;
    margin-bottom: 0;
}

.invoice {
    position: relative;
    top: -70px;
}

#total {
    margin-left: 77%;
}

#delivery {
    margin-left: 77%;
}

#delivered {
    margin-left: 75%;
    margin-top: -3.3%;
}

#bambi-logo {
    float: right;
    margin-right: 8%;
    margin-top: -3%;
}

.Bambi {
    position: relative;
    top: -12px !important;
}

#od-row {
    padding-top: 5%;
}

.card-footer {
    background-color: #B39836;
    color: #fff;
}

h2 {
    color: #5e4b05;
    letter-spacing: 2px !important;
}

.display-3 {
    font-weight: 500 !important;
}

@media (max-width: 479px) {
    .invoice {
        position: relative;
        top: 7px;
    }

    .border-line {
        border-right: 0px solid rgb(226, 206, 226) !important;
    }

}

@media (max-width: 700px) {

    h2 {
        color: #5e4b05;
        font-size: 17px;
    }

    .display-3 {
        font-size: 28px;
        font-weight: 500 !important;
    }
}

.card-footer small {
    letter-spacing: 7px !important;
    font-size: 12px;
}

.border-line {
    border-right: 1px solid rgb(226, 206, 226)
}

