.radio {
    display: none;
  }
  
  .label {
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid;
  }
  
  #size-4:checked ~ .label-1,
  #size-5:checked ~ .label-2,
  #size-6:checked ~ .label-3,
  #size-7:checked ~ .label-4,
  #size-8:checked ~ .label-5,
  #size-9:checked ~ .label-6,
  #size-10:checked ~ .label-7,
  #size-11:checked ~ .label-8,
  #size-12:checked ~ .label-9,
  #size-13:checked ~ .label-10 {
    background-color: #B39836;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

.product_sect{
  margin-top: 40px;
  display: inline-block;
  width: 480px;
  height: 400px;
  margin-left: 50px;
  margin-bottom: 400px;
}

.shoe_img{
  float: left;
  margin-top: -130px;
  margin-left: 120px;
}

#title{
  font-weight: bold;
  letter-spacing: 0.5px;
}

#desc{
  margin-top: 20px;
  width: 480px;
  font-size: smaller;
  letter-spacing: -0.2px;
}

.size_select{
  margin-top: 20px;
}

#size_caption{
  font-weight: bold;
  margin-bottom: 15px;
  display: inline-block;
}

#price{
  font-weight: bold;
  letter-spacing: 0.5px;
}

#basket_button{
  margin-top: 20px;
  width: 300px;
  height: 40px;
}

#atb_text{
  margin-top: 9px;
  letter-spacing: 0.4px;
}

.quantity_sect{
  margin-top: 10px;
  display: inline-block;
}

.label{
  border: none;
  border: 1px solid rgb(214, 214, 214);
}

input{
  accent-color:#B39836;
}

#basket_button{
  border: none;
  border-radius: 25px;
  background-color: #B39836;
  color: white;
  font-weight: bold;
  font-size: smaller;
  margin-top: 40px;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
}

#basket_button:hover{
  background-color: #ddbc44;
}

#line_style{
  margin-top: 20px;
  width: 480px;
  margin-left: -5px;
  color: rgb(188, 188, 188);
}

#select_box{
  margin-left: 15px;
}

.size_buttons{
  margin-left: 15px;
}

.tooltip-inner {
  background-color: #B39836 !important; /* Set box color to red */
  color: white !important; /* Set text color to black */
}


.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #B39836 !important; /* Set arrow color to red */
}

.alert {
  margin: 10px;
}
