.shop {
  align-items: flex-start;
  background-color: #f2f2f2;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 3354px;
  width: 100%;
}


.grid-container {

  display: grid;
}



.shop .bambi-shoes-logo-text {
  height: 60px;
  margin-left: 327px;
  object-fit: cover;
  width: 225px;
}

.shop .button-1 {
  margin-left: 606px;
  padding: 10px 41px;
}

.shop .hero {
  align-items: center;
  background-color: var(--vis-vis);
  box-shadow: 0px 2px 2px #00000040;
  display: flex;
  gap: 340px;
  justify-content: flex-end;
  margin-left: 1px;
  width: 100%;
}

.shop .flex-col {
  flex-direction: column;
  margin-bottom: 2.0px;
  min-height: 254px;
  width: 537px;
}

.shop .receive-and-extra-sp {
  letter-spacing: -0.48px;
  line-height: normal;
  min-height: 104px;
  width: 537px;
  padding-left: 60%;
}

.shop .span1 {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: italic;
  font-weight: 600;
}

.shop .lorem-ipsum-dolor-si {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 400;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 150px;
  width: 492px;
  padding-left: 20%;
}

.shop .rectangle-15 {
  height: 500px;
  object-fit: cover;
  width: 962px;
}

.shop .overlap-group2 {
  height: 2275px;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* display: block;
  overflow: auto; */

}

.shop .search {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  padding: 46px 42px;
  position: absolute;
  top: 0;
  width: 469px;
}

.screen {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.shop .prod_box {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  height: 2050px;
  width: 100%;
  /* max-height: 100%;
  max-width: 100%; */
}


article {
  padding: 0.5em;
  margin : 0.45em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;


}


.shop .overlap-group {
  align-items: flex-start;
  background-color: #d9d9d9;
  border-radius: 90px;
  display: flex;
  gap: 13px;
  height: 77px;
  justify-content: flex-end;
  min-width: 371px;
  padding: 10px 13px;
}

.shop .search-1 {
  height: 55px;
  letter-spacing: -0.36px;
  line-height: normal;
  width: 252px;
  /* width: 100%; */
}

.shop .overlap-group1 {
  align-items: center;
  background-color: var(--alpine);
  border-radius: 28px;
  display: flex;
  height: 56px;
  min-width: 56px;
  padding: 0 7px;
}

.shop .icon-search {
  height: 42px;
  object-fit: cover;
  width: 42px;
}

.shop .women {
  letter-spacing: -0.36px;
  line-height: normal;
  margin-top: 58px;
  min-height: 32px;
  width: 117px;
}

.shop .all-womens-shoes {
  letter-spacing: -0.36px;
  line-height: normal;
  margin-top: 30px;
  min-height: 38px;
  width: 273px;
}

.shop .trainers {
  letter-spacing: -0.36px;
  line-height: normal;
  margin-top: 22px;
  min-height: 29px;
}

.shop .search-item {
  letter-spacing: -0.36px;
  line-height: normal;
  margin-top: 26px;
  min-height: 29px;
}

.shop .men {
  letter-spacing: -0.36px;
  line-height: normal;
  margin-top: 146px;
  min-height: 32px;
  width: 103px;
}

.shop .all-mens-shoes {
  letter-spacing: -0.36px;
  line-height: normal;
  margin-top: 30px;
  min-height: 29px;
}

.shop .items-1 {
  align-items: flex-start;
  background-color: #fff6d3;
  box-shadow: 0px 4px 4px #00000040;
  gap: 40px;
  left: 468px;
  /* min-height: 1930px; */
  height: 100%;
  padding: 2.2% 0;
  position: absolute;
  display: flex;
  top: 0;
  gap: 29px;
  /* min-height: 375px; */
  /* padding: 79px 136px; */
  width: 71.7%;
}

.shop .title {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 59px;
  min-width: 346px;
  text-align: center;
}

.shop .flex-row {
  height: 1578px;
  min-width: 1412px;
}

.shop .items {
  align-items: flex-start;
  background-color: #FFECA6;
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  height: 20%;
  overflow: hidden;
  padding: 20px 0;
  margin: 2%;
  width: 20%;
}

.shop .rectangle {
  align-self: center;
  background-image: url(../img/rectangle.svg);
  background-size: 100% 100%;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  padding-left: 0.5em;
}

.shop .rectangle img {
  width: 95%; 
  height: 95%; 
  padding-top: 1%; 
  border-radius: 10%;
}  


.shop .place {
  height: 24px;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 25px;
  margin-top: 14px;
  min-width: 62px;
  text-align: center;
}

.shop .model {
  height: 18px;
  letter-spacing: -0.23px;
  line-height: normal;
  margin-left: 25px;
  margin-top: 15px;
  min-width: 47px;
  text-align: center;
}

.shop .surname {
  height: 18px;
  letter-spacing: -0.23px;
  line-height: normal;
  margin-left: 25px;
  margin-top: 15px;
  min-width: 39px;
  text-align: center;
}

.shop .button {
  align-self: center;
  margin-top: 1px;
  padding: 10px 26px;
}

.shop .log-in-1 {
  height: 18px;
  letter-spacing: -0.23px;
  line-height: normal;
  min-width: 78px;
  text-align: center;
}

.shop .items-container-2 {
  margin-left: 72px;
}

.shop .items-container {
  align-items: flex-start;
  gap: 39px;
  margin-left: 70px;
  min-height: 1578px;
  width: 300px;
}

.shop .credit-hero {
  align-items: flex-start;
  background-color: #ffc14d;
  /* box-shadow: 0px 4px 4px #00000040; */
  display: flex;
  flex-direction: row;
  gap: 29px;
  min-height: 375px;
  padding: 79px 136px;
  width: 100%;
}

.shop .spread-the-cost-with {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  letter-spacing: -0.72px;
  line-height: normal;
  min-height: 59px;
}

.shop .shop-shoes-from-14 {
  align-self: center;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: normal;
  margin-right: 29.0px;
  min-height: 39px;
  min-width: 1319px;
  text-align: center;
}

.shop .shop-1 {
  letter-spacing: -0.23px;
  line-height: 24px;
  margin-left: 690px;
  margin-top: 39px;
  white-space: nowrap;
  width: 173px;
}

.shop .button-2 {
  margin-left: 81px;
  margin-top: 32px;
  padding: 10px 41px;
}

.shop .rectangle-1 {
  align-self: center;
  background-color: #6b756b;
  height: 1px;
  margin-top: 12px;
  width: 1520px;
}

.shop .button-3 {
  align-items: flex-start;
  background-color: #B39836;
  border-radius: 6px;
  box-shadow: 0px 2px 4px #00000040;
  display: flex;
  height: 40px;
  min-width: 130px;
}

.shop .items-2 {
  display: flex;
  flex-direction: column;
}

.shop .items-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 39px;
  min-height: 1578px;
  width: 300px;
}
