/* Formatting image with logo and button */

.homepage {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  
.homepage img {
    width: 100%;
    height: 80%;
}

.homepage .login-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #B39836;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

.homepage .login-btn:hover {
    color: #5e4b05;
}

/* "New In" products section with carousel*/

.new-in-contain {
    background-color: white;
    padding-bottom: 3.5%;
}

.new-in {
    width: 100%;
    height: 2%;
    padding: 0.5% 1%;
}

.new-in h2 {
    font-weight: bold;
    margin-left: 20px;
}

.card {
    align-items: center;
    padding: 0.5em;
    padding-bottom: 3.4em;
    left: 16%;
    bottom: 20%;
    border-radius: 50px;
    margin-right: 50px;
    margin-left: 25px;
}

.card img {
    width: 95%; 
    height: 95%; 
    padding-top: 1%; 
    border-radius: 10%;
}   

.card .title {
    font-size: 0.85em;
    position: absolute;
    /* left: 0.625em; */
    bottom: 1.875em;
    font-weight: 400;
}

.card .price {
    font-size: 0.85em;
    position: absolute;
    left: 6.625em;
    bottom: 0.625em;
}

.card:hover::after {
    bottom: 0;
}

.card:active {
    transform: scale(0.98);
}

/* Carousel */

.carousel-control-next,
.carousel-control-prev  {
    filter: invert(100%);
    background-color: transparent;
    border-color: transparent;
    padding-bottom: 1%;
}

.row {
   width: 80%; 
   padding-bottom: 15px;
}

/* Reviews section */

.reviews-contain {
    /* display: flex; */
    max-width: 100%;
    background-color: #FFC14D;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1.2fr);
    grid-template-rows: .8fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

   
}

@media screen and (max-width: 750px) {
    .reviews-contain {
        display: block;
    }  

    .review-1, .review-2, .review-3, .review-4 {
       margin-top: 5%;
       margin-bottom: 5%;
    }
}

.reviews {
    width: 100%;
    padding: 0.5% 1%;
    background-color: #FFC14D;
  }

.reviews h2 {
    font-weight: bold;
    margin-left: 1%;
}

.review-1 { 
    grid-area: 1 / 1 / 2 / 2; 
}

.review-2 { 
    grid-area: 1 / 2 / 2 / 3; 
}

.review-3 { 
    grid-area: 1 / 3 / 2 / 4; 
}

.review-4 { 
    grid-area: 1 / 4 / 2 / 5; 
}

.review-1, .review-2, .review-3, .review-4 {
    width: 50%;
    left: 28%;
    border-radius: 20px;
    background: #FFF6D3;
    position: relative;
    padding: 1.8rem;
    transition: 0.5s ease-out;
   }
   
.review-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.review-title {
    font-weight: bolder;
}

.review-button {
    transform: translate(-50%, 125%);
    width: 70%;
    border-radius: 1rem;
    border: none;
    background-color: #B39836;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body {
    color: rgb(134, 134, 134);
}

/*Text*/

.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

/*Hover*/

.card:hover {
    border-color: #B39836;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.review-card:hover {
    border-color: #B39836;
    box-shadow: 0 4px 18px 0 #B39836;
}

.card:hover .review-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}